<div class="container-fluid mt-5">


    <h2 class="text-center mb-4">Lastest products</h2>
        <div class="slide-container d-flex justify-content-between">
        <span id="slide-left" class="arrow" (click)="scrollLeft($event)">❮</span>
    <section class="container" #slider>
        <div class="thumbnail">
            <img class="img-fluid d-block pro-img" src="../../../assets/images/1.png" alt="">
            <div class="product-details">
                <h2 class="pt-3">Demo Product</h2>
                <p>$29.99</p>
                <a class="btn btn-outline-primary text-black" href="#">Add to Cart</a>
            </div>
        </div>
        <div class="thumbnail">
            <img class="img-fluid d-block pro-img" src="../../../assets/images/1.png" alt="">
            <div class="product-details">
                <h2 class="pt-3">Demo Product</h2>
                <p>$29.99</p>
                <a class="btn btn-outline-primary text-black" href="#">Add to Cart</a>
            </div>
        </div>
        <div class="thumbnail">
            <img class="img-fluid d-block pro-img" src="../../../assets/images/1.png" alt="">
            <div class="product-details">
                <h2 class="pt-3">Demo Product</h2>
                <p>$29.99</p>
                <a class="btn btn-outline-primary text-black" href="#">Add to Cart</a>
            </div>
        </div>
        <div class="thumbnail">
            <img class="img-fluid d-block pro-img" src="../../../assets/images/1.png" alt="">
            <div class="product-details">
                <h2 class="pt-3">Demo Product</h2>
                <p>$29.99</p>
                <a class="btn btn-outline-primary text-black" href="#">Add to Cart</a>
            </div>
        </div>
        <div class="thumbnail">
            <img class="img-fluid d-block pro-img" src="../../../assets/images/1.png" alt="">
            <div class="product-details">
                <h2 class="pt-3">Demo Product</h2>
                <p>$29.99</p>
                <a class="btn btn-outline-primary text-black" href="#">Add to Cart</a>
            </div>
        </div>
        <div class="thumbnail">
            <img class="img-fluid d-block pro-img" src="../../../assets/images/1.png" alt="">
            <div class="product-details">
                <h2 class="pt-3">Demo Product</h2>
                <p>$29.99</p>
                <a class="btn btn-outline-primary text-black" href="#">Add to Cart</a>
            </div>
        </div>
        <div class="thumbnail">
            <img class="img-fluid d-block pro-img" src="../../../assets/images/1.png" alt="">
            <div class="product-details">
                <h2 class="pt-3">Demo Product</h2>
                <p>$29.99</p>
                <a class="btn btn-outline-primary text-black" href="#">Add to Cart</a>
            </div>
        </div>
    </section>
    <span id="slide-right" (click)="scrollRight($event)" class="arrow">❯</span> 
</div>



</div>