<!-- <div class="card h-100 shadow-sm">
    <img src="{{ product.pictureUrl }}" alt="{{ product.name }}" class="img-fluid" />
    <div class="card-body d-flex flex-column">
        <a href="#" class="nav-link">
            <h6 class="text-uppercase">{{product.name}}</h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>       
            <div class="btn-group mt-auto">
                <button  type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2">                 
                </button>
                <button routerLink="/shop/{{this.product.id}}" type="button" class="btn btn-outline-secondary">
                    View
                </button>
            </div>
    </div>
</div> -->

    <div class="card h-100 shadow-sm">
        <img class="card-img-top img-fluid w-100" src="{{this.product.pictureUrl}}">
        <div class="card-body">
            <h6 >
                <b>
                    <a routerLink="/shop/{{this.product.id}}">{{this.product.name}}</a>
                </b>
            </h6>
            <div class="d-flex flex-row my-2">
                <div class="text-muted fw-bold">{{product.price | currency}}</div>
                <!-- <div class="ml-auto"> <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1</span> <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> </div> -->
            </div> 
            <button class="btn w-100 rounded my-2" (click)="addItemToBasket()">Add to cart</button>
        </div>
    </div>